.simple-slider .swiper-slide {
  height:400px;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  box-shadow:inherit;
}

.simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
  width:50px;
  margin-left:20px;
  margin-right:20px;
  color:#fff;
}

@media (max-width:767px) {
  .simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
    display:none;
    /*color:#ffffff;*/
  }
}

@media (max-width:767px) {
  .simple-slider .swiper-slide {
    height:360px;
  }
}

